{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "server-dev": {
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "./webpack/${NODE_ENV}.config.js" } ]
      ]
    }
  }
}