<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/index-apps.css" />
</head>
<body>
    <div id="app-container"></div>
    <script src="/js/index.js"></script>
    <script type="application/javascript">
        var data = {user: null}
        if (!!'<%=user%>') {data.user = '<%=user%>'}
        window.HomePage(data)
    </script>
</body>
</html>